// Colors Variables
$black : #000;
$white : #fff;
$yellow : #ddb161;
$light-grey : #eee;
$box-shadow-color : rgba(0,0,0,0.25);
$grey : #565656;
$grey-37 : #373737;
$image-border-grey : #ddd;
$black-08 : #080215;
$red: #ff0000;

// Media queries variables
$laptop : 1200px;
$ipad : 1024px;
$mobile : 767px;
$xs-mobile : 480px;